<h1>Teste Click</h1>
<button class="button" onclick="EventoClick()" id="playButton">Clique aqui o mais rápido que puder</button>
<p id="contador">Total de Cliques: 0</p>
<h2 id="tempo">30</h2>

<section>
    <div class="background-section">
        <video id="video" src="~/video/HXVRMXN, keelse - MO RE (speed up).mp4" loop class="videoclass" preload="auto"></video>
        <audio id="audio" src="~/video/HXVRMXN, keelse - MO RE (speed up).mp4" loop></audio>
    </div>
</section>
