@model TesteClick

<h1>Teste Click</h1>
<h4>Timer:</h4>
<h5>Cliques Totais:</h5>

<p id="contador">Total de Cliques: 0</p>

<h2 id="tempo">30</h2>

<div class="caixa" onclick="EventoClick()">Clique</div>
    

