
<form id="formulario">
    <div id="navas" class="form-group btn-group">
        <a class="btn btn-outline-success">
            <span>CPS </span>
            5 sec
        </a>
        <a class="btn btn-outline-success">
            <span>CPS </span>
            10 sec
        </a>
        <a class="btn btn-outline-success">
            <span>CPS </span>
            15 sec
        </a>
        <a class="btn btn-outline-success">
            <span>CPS </span>
            20 sec
        </a>
    </div>
    <div class="info">
        <a class="btn btn-outline-success" id="clickButton">
            Clique o mais rapido que conseguir
        </a>
    </div>
</form>



<section>
    <div class="background-section">
        <video id="video" src="~/video/HXVRMXN, keelse - MO RE (speed up).mp4" loop class="videoclass" preload="auto"></video>
        <audio id="audio" src="~/video/HXVRMXN, keelse - MO RE (speed up).mp4" loop></audio>
    </div>
</section>
