
<h1>Teste Click</h1>
<h4>Timer:</h4>
<h5>Cliques Totais:</h5>
<button class="button" onclick="EventoClick()">Clique Aqui</button>
<p id="contador">Total de Cliques: 0</p>

<h2 id="tempo">5</h2>

<section>
    <div class="background-section">
        <video id="background-video" src="video/videoplayback.mp4"></video>
    </div>
</section>

